body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.centered-form {
    text-align: center;
    width:640px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

input, #whichPosition {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin:10px auto;

}

#whichPosition{
    outline:1px solid #333;
}

button {
    width: 300px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 640px){
    .centered-form {
        width:85%;
    }
    input, #whichPosition {
        width:85%;
    }
    button {
        width:75%;
    }
}


