body {
    background-image:url(/static/img/background.jpg);
    background-repeat:repeat;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top:25%;  
        position:relative;
            
   box-shadow: 1px 5px 20px rgba(0, 0, 0, 1);
    width:50%;
    margin:0 auto;
    margin-top:6%;
}
#main {
    text-align:center;
}
#logo {
    background-image:url(/static/img/logo2.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    width:498px;
    height:130px;
    margin:0 auto;
}

.centered-form {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

input, #whichPosition {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin:10px auto;

}

#whichPosition{
    outline:1px solid #333;
}

button {
    width: 300px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 640px){
    .centered-form {
        width:85%;
    }
    input, #whichPosition {
        width:85%;
    }
    button {
        width:75%;
    }
}

#result {
    display: block;
    border: 1px dotted black;
    width: 50%;
    min-height: 80px;
    margin: 0 auto;
    background:#fffa;
    padding:20px;
    position: relative;
}

#waitlist {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    bottom: 31%;
    left: calc(50% - 180px);
    font-size: 2em;
    color: black;
    background-color: white;
    border-radius: 50px;
    font-family: Nunito;
    line-height: 70px;
    vertical-align: center;
    width: 360px;
    font-weight: bold;
    height: 70px;
    border: 2px solid black;
    text-decoration: none;
    transition: all 0.3s;
}
#waitlist:hover{
    background-color:orange;
    cursor:pointer;
}

a, a:visited, a:link, a:hover, a:active {
    color:#111;
    text-decoration:none;
}



