#title{
    margin:0 auto;
    text-align:center;
    font-size:2em;
}
#main {
    width: 640px;
    margin: 0 auto;
}

@media screen and (max-width: 640px){
    #main {
        width: 90%;
    }
}
#logo {
    width:120px;
    height:120px;
    margin:0 auto;
    background-image:url('/static/img/mana_games_logo.png');
    background-repeat:no-repeat;
    background-size:contain;
}
