<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potion Elves</title>
    <link rel="icon" href="/static/img/potion_elves_logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/form.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script> const csrf = "{{ csrf }}" </script>
    <script src="/static/js/jquery-min.js"></script>
    <script src="/static/js/form.js"></script>
</head>
<body>
    <div class="container">
        <div id="main">
            <div id="logo"></div>
            <p>The Finest Brews of Wizardy and Magic</p>
            <p>
            <p> Want some? Join the waitlist:
            <div id="waitlist"> <a class="button" href="/waitlist">Waitlist</a></div>
       </div>
        <img src="/static/img/potions.jpg /">
        <div id="potions" style="width:600px;height:400px;background-image:url(/static/img/potions.jpg);background-size:contain;background-repeat:no-repeat;"></div>
    </div>
    <br>
    <div id="result">result</div>
    </body>
</html>

